@using TesteDeveloper.Application.ViewModels
@model ProdutoViewModel

@{
    ViewData["Title"] = @Model.Nome;
}
<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <h4>@Model.Nome</h4>
</div>

<div class="container">
    <div>
        <div class="row">
            @Html.DisplayFor(modelItem => Model.Modelo)
        </div>
        <hr />
        <br />        
        <br />        
        <br />
        <div class="row">
            <b>Tipo de Categoria:</b><br />
            @{
                var categoria = new CategoriaViewModel().ListarCategorias().FirstOrDefault(c => c.Id == Model.CategoriaId);
                @Html.Raw(categoria.Nome)
            }
        </div>
        <br />
        <div class="row">
            <b>Tipo de SubCategoria:</b><br />
            @{
                var subCategoria = new SubCategoriaViewModel().ListarSubCategorias().FirstOrDefault(c => c.Id == Model.SubCategoriaId);
                @Html.Raw(categoria.Nome)
            }
        </div>
        <br />
        <div class="row">
            <b>Fabricante por:</b><br />
            @Html.DisplayFor(modelItem => Model.Fabricante.Nome)
        </div>
        <br />
    </div>

    <div>
        <a href="javascript:history.go(-1)" class="btn btn-info">Voltar</a>
    </div>
</div>